extends layout 

block content
  h1 #{title}
  h3  User is #{users[id].firstname }  #{users[id].lastname} 

  table
     tr
      td= "firstname:"
      td= users[id].firstname
     tr  
      td= "lastname:"
      td= users[id].lastname
     tr
      td= "email:"
      td= users[id].email
     tr
      td= "password:"
      td= users[id].password
     tr
       tr
        td