extends layout 

block content
  h1 #{title}
    
  table
     tr
      td= "firstname:"
      td= users.firstname
     tr  
      td= "lastname:"
      td= users.lastname
     tr
      td= "email:"
      td= users.email
     tr
      td= "password:"
      td= users.password
     tr
       tr
        td