extends layout 

block content

  h1 #{title}
   h4 
   table
    each user in users
     tr
      td= "firstname:"
      td= user.firstname
     tr  
      td= "lastname:"
      td= user.lastname
     tr
      td= "email:"
      td= user.email
     tr
      td= "password:"
      td= user.password
     tr
       tr
        td ---------------