<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Schedule Management App</title>
     <link rel="stylesheet " href ="styles.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Day</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < schedules.length; i++) { %>
              <tr>
                <td><%= schedules[i].user_id %></td>
                <td><%= schedules[i].day %></td>
                <td><%= schedules[i].start_at %></td>
                <td><%= schedules[i].end_at %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
  
    </main>
          
     <%- include('../partials/footer') %>
  </body>
  
  </html> 
  